@charset "utf-8";
/* CSS Document - Surcharge css CXPM*/

/* --- New catalog --- */
#catalog-v2 .bgTint {
    background-color: #09a3d9!important;
}
/*Mise en avant RS*/
#catalog-v2 .CatalogCard-title.CatalogCard-title--premium, #catalog-v2 .CatalogCardLine .CatalogCard-title--premium {
    background: none!important;
    color: #E71F61!important;
    font-weight: bold;
}
